/* css/generic.css */

html, body {
    height:100%;
}

body {
    padding: 0;
    margin: 0;
}

#navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    padding-right: 60px;
}

#navbar ul li:last-child {
    padding-right: 0;
}

#navbar ul li a {
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #000000;
}
